.iframe-container {
    width: 100% !important; /* Set the width of the iframe container */
    height: 3000px !important; /* Set the height of the iframe container */
    overflow: hidden !important; /* Hide the scrollbars */
  }

  .iframe-container #github{
    width: 100% !important;
    height: 100% !important;
    border: none !important; /* Remove the iframe border */
  }

  h2 {
    color: #BA0C2f !important
  }

  @media (max-width: 800px) {
    .iframe-container {
        height: 9600px !important;
    }
  }

  